---
import Post from "@src/layouts/Post.astro";

export async function getStaticPaths() {
  const allPages = await Astro.glob("@src/content/pages/**/*.md");
  const filteredPages = allPages.filter((page) => !page.frontmatter.draft);

  return ["fr", "en"].flatMap((locale) => {
    const translatedLocale = locale === "fr" ? "en" : "fr";
    const pages = filteredPages.filter((page) =>
      page.file.includes(`/${locale}/`)
    );

    const translatedPages = filteredPages.filter((page) =>
      page.file.includes(`/${translatedLocale}/`)
    );

    return pages.map((page) => {
      const pageFileName = page.file.split("/").at(-1);

      const translatedPageSlug = translatedPages.find((translatedPage) => {
        const translatedPageFileName = translatedPage.file.split("/").at(-1);

        return translatedPageFileName === pageFileName;
      })?.frontmatter.translatedSlug;

      return {
        params: { page: page.frontmatter.translatedSlug, locale },
        props: { page, translatedPageSlug, translatedLocale },
      };
    });
  });
}

const isHebergementPage =
  Astro.request.url.includes("/accomodations") ||
  Astro.request.url.includes("/hebergements");

const { page, translatedPageSlug, translatedLocale } = Astro.props;
const { locale } = Astro.params;

const translatedUrl = translatedPageSlug
  ? `/${translatedLocale}/${translatedPageSlug}`
  : null;
---

<Post
  title={page.frontmatter.title}
  locale={locale}
  translatedUrl={translatedUrl}
>
  <Fragment set:html={page.compiledContent()} />

  {
    isHebergementPage && (
      <>
        <script
          src="https://widgets.apidae-tourisme.com/widget/6015.js"
          async
        />

        <div id="widgit" />
      </>
    )
  }
</Post>
