---
const { cardsDir } = Astro.props;

const isIndexPage = cardsDir.startsWith("@src/content/index");

const allCards = isIndexPage
  ? await Astro.glob("@src/content/index/**/*.md")
  : await Astro.glob("@src/content/courses/**/*.md");

const cards = allCards
  .filter(
    (card) =>
      card.file.includes(cardsDir.replace("@", "")) && !card.frontmatter.draft
  )
  .sort((card1, card2) => card1.frontmatter.order - card2.frontmatter.order);

cards.forEach((card, index) => (card.frontmatter.order = index + 1));

const firstSection = cards.filter((card) => card.frontmatter.order % 2 === 1);
const secondSection = cards.filter((card) => card.frontmatter.order % 2 === 0);
---

<main class="container cards-container">
  <section class="cards-section lg">
    {
      firstSection.map((card) => (
        <article class="card">
          <header class="header">{card.frontmatter.title}</header>
          <card.Content />
        </article>
      ))
    }
  </section>

  <section class="cards-section lg">
    {
      secondSection.map((card) => (
        <article class="card">
          <header class="header">{card.frontmatter.title}</header>{" "}
          <card.Content />
        </article>
      ))
    }
  </section>

  <section class="cards-section sm">
    {
      cards.map((card) => (
        <article class="card">
          <header class="header">{card.frontmatter.title}</header>{" "}
          <card.Content />
        </article>
      ))
    }
  </section>
</main>

<style>
  .cards-container {
    display: flex;
    margin-top: 2rem;
  }

  .cards-section {
    flex: 1 0;
    margin: 0 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .sm {
    display: none;
  }

  .card {
    margin: 0;
    padding-bottom: 1rem;
  }

  :global(.fb-page) {
    text-align: center;
  }

  .header {
    background-color: #eeeeee;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1.25rem;
  }

  @media only screen and (max-width: 800px) {
    .cards-container {
      flex-direction: column;
    }

    .lg {
      display: none;
    }

    .sm {
      display: flex;
    }
  }
</style>
