---
import courseList from "@src/content/courses/_config";
import { getSortedCourses } from "./courses.helpers.js";

export interface Props {
  activeURL: string;
  locale: "fr" | "en";
}

const { activeURL, locale = "fr" } = Astro.props;

const sortedCourses = getSortedCourses(courseList, locale);
---

<nav class="container-fluid course-nav" data-router-keep-scroll="course-nav">
  <ul class="link-list">
    <li class="list-item">
      <a
        class:list={[
          { active: activeURL === (locale === "fr" ? "/" : "/en") },
          "link",
        ]}
        href={locale === "fr" ? "/" : "/en"}
      >
        <strong class="section-title">
          {locale === "fr" ? "Bienvenue" : "Welcome"}
        </strong>
      </a>
    </li>

    {
      sortedCourses.map((course) => (
        <li class="list-item">
          <a
            class:list={[{ active: activeURL === course.url }, "link"]}
            href={course.url}
          >
            <span class="date">{course.prettyDate}</span>

            <strong class="section-title">
              {locale === "fr" ? course.frenchTitle : course.englishTitle}
            </strong>
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  .course-nav {
    background-color: #cfcfcf3d;
    backdrop-filter: blur(0.5rem);
    position: sticky;
    top: 0;
    overflow-x: auto;
    justify-content: center;
    z-index: 1;
  }

  .link-list {
    align-items: stretch;
  }

  .list-item {
    padding: 0;
    display: flex;
    align-items: stretch;
  }

  .link {
    color: var(--h1-color);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .date {
    font-weight: lighter;
    font-size: smaller;
  }

  li.list-item a.active.link,
  .link:hover {
    background-color: #bbde5c;
    color: white;
  }

  .section-title {
    white-space: nowrap;
  }

  @media only screen and (max-width: 500px) {
    nav ul.link-list {
      margin-left: 10rem;
    }
  }
</style>
