---
import translationKeys from "@src/i18n";

const { locale, translatedUrl } = Astro.props;
---

<li>
  <details role="list" dir="rtl">
    <summary aria-haspopup="listbox" role="link" class="summary"
      >{locale === "fr" ? "FR" : "EN"}
    </summary>
    <ul role="listbox">
      <li>
        {
          locale === "fr" ? (
            <a href={translatedUrl}>
              {translationKeys["NAVBAR-language-english"][locale]}
            </a>
          ) : (
            <a href={translatedUrl}>
              {translationKeys["NAVBAR-language-french"][locale]}
            </a>
          )
        }
      </li>
    </ul>
  </details>
</li>

<style>
  .summary {
    color: var(--secondary-color);
  }
</style>
