---
import translationKeys from "@src/i18n";
import Logo from "./icons/Logo.astro";
import LocaleSwitch from "./LocaleSwitch.astro";

const { locale = "fr", translatedUrl } = Astro.props;

const allPages = await Astro.glob("@src/content/pages/**/*.md");
const pages = allPages.filter(
  (page) => page.file.includes(`/${locale}/`) && !page.frontmatter.draft
);
---

<nav class="container-fluid navigation-menu">
  <ul>
    <li class="logo-list-item">
      <a class="logo-link" href={locale === "fr" ? "/" : "/en"}>
        <Logo />
      </a>
    </li>
  </ul>

  <ul>
    <li class="large-screens">
      <a class="link" href={locale === "fr" ? "/" : "/en"}
        >{translationKeys["NAVBAR-courses"][locale]}
      </a>
    </li>

    {
      pages.map((page) => (
        <li class="large-screens">
          <a
            class="link"
            href={`/${locale}/${page.frontmatter.translatedSlug}`}
          >
            {page.frontmatter.title}
          </a>
        </li>
      ))
    }

    {
      translatedUrl !== undefined && translatedUrl !== null && (
        <LocaleSwitch locale={locale} translatedUrl={translatedUrl} />
      )
    }

    <li class="mobile-menu">
      <details role="list" dir="rtl">
        <summary aria-haspopup="listbox" class="burger-summary" role="link">
          <span class="burger-icon">
            <span class="burger-line-1"></span>

            <span class="burger-line-2"></span>

            <span class="burger-line-3"></span>
          </span>
        </summary>
        <ul role="list">
          <li>
            <a href={locale === "fr" ? "/" : "/en"}
              >{translationKeys["NAVBAR-courses"][locale]}
            </a>
          </li>

          {
            pages.map((page) => (
              <li>
                <a href={`/${locale}/${page.frontmatter.translatedSlug}`}>
                  {page.frontmatter.title}
                </a>
              </li>
            ))
          }
        </ul>
      </details>
    </li>
  </ul>
</nav>

<style>
  .navigation-menu {
    box-shadow: 0 1px 0 rgba(115, 130, 140, 0.2);
  }

  .mobile-menu {
    display: none;
  }

  details[role="list"] summary::after {
    display: none;
  }

  .logo-list-item {
    padding-top: 0;
    padding-bottom: 0;
  }

  .logo-link {
    padding: 0.75rem 0 0.3125rem;
  }

  .link {
    color: var(--accordion-active-summary-color);
  }

  .link:focus {
    background-color: transparent;
  }

  .burger-icon {
    display: flex;
    flex-direction: column;
  }

  .burger-icon span {
    display: block;
    width: 1.75rem;
    height: 0.1875rem;
    background-color: var(--secondary);
    margin: 0.1875rem 0;
    border-radius: 0.125rem;
  }

  .burger-summary:focus {
    background-color: transparent;
  }

  .burger-summary {
    overflow-x: hidden;
  }

  .burger-line-2 {
    transition: translate 0.5s ease;
  }

  details[open] .burger-line-2 {
    translate: 4rem;
    transition: translate 0.5s ease;
  }

  .burger-line-1 {
    transition: transform 0.5s ease;
  }

  details[open] .burger-line-1 {
    transition: transform 0.5s ease;
    transform: translateY(0.5625rem) rotate(45deg);
  }

  .burger-line-3 {
    transition: transform 0.5s ease;
  }

  details[open] .burger-line-3 {
    transition: transform 0.5s ease;
    transform: translateY(-0.5625rem) rotate(-45deg);
  }

  @media only screen and (max-width: 480px) {
    .mobile-menu {
      display: block;
      padding: 0 0.25rem 0 0;
    }

    .large-screens {
      display: none;
    }
  }
</style>
