<script lang="ts">
  import { createReference } from "@src/lib/reference";
  import { onDestroy, onMount } from "svelte";
  import { isIntersecting } from "./isIntersecting";
  import settings from "@src/content/_settings.json";

  let imageIndex = 0;
  let intervalId: NodeJS.Timer;
  let isVisible = createReference(true);
  let isPaused = false;

  onMount(
    () =>
      (intervalId = setInterval(() => {
        if (!isVisible.get() && !isPaused)
          imageIndex = imageIndex === 3 ? 0 : imageIndex + 1;
      }, settings.carrouselTimeout * 1000))
  );

  onDestroy(() => clearInterval(intervalId));
</script>

<section use:isIntersecting={isVisible} class="wrapper">
  <div class="logos-wrapper">
    <button
      disabled={imageIndex === 0}
      on:click={() => imageIndex--}
      class="navigation-button button"
      ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
        ><path
          d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"
        /></svg
      ></button
    >

    <div class="logos" style:display={imageIndex === 0 ? "block" : "none"}>
      <slot name="partnersLogos1" />
    </div>

    <div class="logos" style:display={imageIndex === 1 ? "block" : "none"}>
      <slot name="partnersLogos2" />
    </div>

    <div class="logos" style:display={imageIndex === 2 ? "block" : "none"}>
      <slot name="partnersLogos3" />
    </div>

    <div class="logos" style:display={imageIndex === 3 ? "block" : "none"}>
      <slot name="partnersLogos4" />
    </div>

    <button
      disabled={imageIndex === 3}
      on:click={() => imageIndex++}
      class="navigation-button navigation-button--right button"
      ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
        ><path
          d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"
        /></svg
      ></button
    >

    <button
      on:click={() => (isPaused = !isPaused)}
      class="pause-button button"
      class:pause-button--paused={isPaused}
    >
      {#if isPaused}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"
          ><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path
            d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"
          /></svg
        >
      {:else}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
          ><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path
            d="M48 64C21.5 64 0 85.5 0 112V400c0 26.5 21.5 48 48 48H80c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48H48zm192 0c-26.5 0-48 21.5-48 48V400c0 26.5 21.5 48 48 48h32c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48H240z"
          /></svg
        >
      {/if}
    </button>
  </div>

  <div id="logos-selectors-wrapper" class="logos-selectors-wrapper">
    {#each [0, 1, 2, 3] as index (index)}
      <button
        on:click={() => (imageIndex = index)}
        type="button"
        class="logos-selector"
        class:logos-selector--selected={index === imageIndex}
      />
    {/each}
  </div>
</section>

<style>
  .wrapper {
    max-width: 50rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
  }

  .logos-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .button {
    margin: 0;
    padding: 0;
    background-color: var(--background-grey);
    border-radius: 100rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button:focus {
    box-shadow: none;
  }

  .navigation-button {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    left: 2rem;
    width: 2rem;
    height: 2rem;
  }

  .pause-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c0c0c091;
    width: 3rem;
    height: 3rem;
  }

  .pause-button--paused {
    background-color: #c0c0c0;
  }

  svg {
    width: 1rem;
    height: 1rem;
  }

  .navigation-button:focus {
    box-shadow: none;
  }

  .navigation-button--right {
    left: unset;
    right: 2rem;
  }

  .logos {
    width: 43rem;
  }

  @media only screen and (max-width: 700px) {
    .navigation-button {
      left: 1rem;
    }

    .navigation-button--right {
      right: 1rem;
      left: unset;
    }
  }

  @media only screen and (max-width: 500px) {
    .navigation-button {
      bottom: -1.5rem;
      transform: unset;
    }

    .pause-button {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  .logos-selectors-wrapper {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
  }

  .logos-selector {
    background-color: lightgray;
    margin: 0;
    padding: 0;
    border: none;
    display: inline;
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 0.375rem;
  }

  .logos-selector:focus {
    box-shadow: none;
  }

  .logos-selector--selected {
    background-color: var(--background-grey);
  }
</style>
