---
import translations from "@src/i18n";
import PartnersSvelte from "./PartnersSvelte.svelte";
import { Picture } from "@astrojs/image/components";

import allLogos from "./partners-logos-full.png";
import partnersLogos1 from "./partners-logos-1.png";
import partnersLogos2 from "./partners-logos-2.png";
import partnersLogos3 from "./partners-logos-3.png";
import partnersLogos4 from "./partners-logos-4.png";

export interface Props {
  locale: "fr" | "en";
}

const { locale } = Astro.props;
---

<h2 class="title">{translations["PARTNERS-title"][locale]}</h2>

<div class="desktop">
  <Picture
    src={allLogos}
    widths={[1400]}
    alt="descriptive text"
    sizes=""
    class="desktop-image"
  />
</div>

<div class="mobile">
  <PartnersSvelte client:visible>
    <Picture
      slot="partnersLogos1"
      src={partnersLogos1}
      widths={[400, 800]}
      alt="descriptive text"
      sizes=""
    />

    <Picture
      slot="partnersLogos2"
      src={partnersLogos2}
      widths={[400, 800]}
      alt="descriptive text"
      sizes=""
    />

    <Picture
      slot="partnersLogos3"
      src={partnersLogos3}
      widths={[400, 800]}
      alt="descriptive text"
      sizes=""
    />

    <Picture
      slot="partnersLogos4"
      src={partnersLogos4}
      widths={[400, 800]}
      alt="descriptive text"
      sizes=""
    />
  </PartnersSvelte>
</div>

<style>
  .title {
    text-align: center;
    margin-bottom: 1rem;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
    justify-content: center;
  }

  .desktop-image {
    max-width: 1400px;
  }

  @media only screen and (max-width: 800px) {
    .desktop {
      display: none;
    }

    .mobile {
      display: block;
    }
  }
</style>
