<svg
  id="logo"
  data-name="Calque 2"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 322.08 120.73"
>
  <defs>
    <style>
      .cls-1 {
        opacity: 0.5;
      }

      .cls-2 {
        fill: #474747;
      }

      .cls-3 {
        fill: #f3df25;
      }

      .petal-1 {
        transform: rotate(300deg);
        transform-origin: 60px 60px;
        transition: transform 0.5s ease;
      }
      .petal-2 {
        transform: rotate(240deg);
        transform-origin: 60px 60px;
        transition: transform 0.5s ease;
      }
      .petal-3 {
        transform: rotate(180deg);
        transform-origin: 60px 60px;
        transition: transform 0.5s ease;
      }
      .petal-4 {
        transform: rotate(120deg);
        transform-origin: 60px 60px;
        transition: transform 0.5s ease;
      }
      .petal-5 {
        transform: rotate(60deg);
        transform-origin: 60px 60px;
        transition: transform 0.5s ease;
      }

      svg:hover .cls-1 {
        transform: rotate(0);
        transform-origin: 60px 60px;
        transition: transform 0.5s ease;
      }

      .mkg {
        display: none;
        height: 7rem;
        width: auto;
      }
    </style>
  </defs>

  <g id="Calque_3" data-name="Calque 3">
    <g id="petals">
      <g>
        <g class="cls-1 petal-1">
          <path
            class="cls-3"
            d="M81.76,43.18c20.95,.68,37.44,16.68,37.44,16.68,0,0-17.48,14.91-38.43,14.23-20.95-.68-37.44-16.68-37.44-16.68,0,0,17.48-14.91,38.43-14.23Z"
          ></path>
        </g>
      </g>
      <g>
        <g class="cls-1 petal-2">
          <path
            class="cls-3"
            d="M81.76,43.18c20.95,.68,37.44,16.68,37.44,16.68,0,0-17.48,14.91-38.43,14.23-20.95-.68-37.44-16.68-37.44-16.68,0,0,17.48-14.91,38.43-14.23Z"
          ></path>
        </g>
      </g>
      <g>
        <g class="cls-1 petal-3">
          <path
            class="cls-3"
            d="M81.76,43.18c20.95,.68,37.44,16.68,37.44,16.68,0,0-17.48,14.91-38.43,14.23-20.95-.68-37.44-16.68-37.44-16.68,0,0,17.48-14.91,38.43-14.23Z"
          ></path>
        </g>
      </g>
      <g>
        <g class="cls-1 petal-4">
          <path
            class="cls-3"
            d="M81.76,43.18c20.95,.68,37.44,16.68,37.44,16.68,0,0-17.48,14.91-38.43,14.23-20.95-.68-37.44-16.68-37.44-16.68,0,0,17.48-14.91,38.43-14.23Z"
          ></path>
        </g>
      </g>
      <g>
        <g class="cls-1 petal-5">
          <path
            class="cls-3"
            d="M81.76,43.18c20.95,.68,37.44,16.68,37.44,16.68,0,0-17.48,14.91-38.43,14.23-20.95-.68-37.44-16.68-37.44-16.68,0,0,17.48-14.91,38.43-14.23Z"
          ></path>
        </g>
      </g>
      <g>
        <g class="cls-1 petal-6">
          <path
            class="cls-3"
            d="M81.76,43.18c20.95,.68,37.44,16.68,37.44,16.68,0,0-17.48,14.91-38.43,14.23-20.95-.68-37.44-16.68-37.44-16.68,0,0,17.48-14.91,38.43-14.23Z"
          ></path>
        </g>
      </g>
    </g>

    <image data-href="/mkg.png" class="mkg" id="mkg" />

    <g>
      <path
        class="cls-2"
        d="M163.87,57.55c-2.53,1.28-4.58,1.54-6.29,1.54-5.26,0-8.82-1.8-11.21-4.15-2.57-2.48-4.45-6.25-4.45-10.83s1.88-8.26,4.45-10.74c2.53-2.44,6.21-4.11,10.66-4.11,1.88,0,4.07,.39,6.85,1.58v7.62c-1.46-1.54-3.64-3.04-6.68-3.04-2.4,0-4.32,.77-5.82,2.23-1.58,1.54-2.7,3.85-2.7,6.59,0,2.95,1.2,5.05,2.48,6.29,.6,.6,2.65,2.4,6.16,2.4,1.71,0,4.02-.47,6.55-2.95v7.58Z"
      ></path>
      <path
        class="cls-2"
        d="M184.97,35.46h-9.25v5.52h8.56v5.56h-8.56v11.9h-6.59V29.9h15.84v5.56Z"
      ></path>
      <path
        class="cls-2"
        d="M210.44,57.55c-2.53,1.28-4.58,1.54-6.29,1.54-5.26,0-8.82-1.8-11.21-4.15-2.57-2.48-4.45-6.25-4.45-10.83s1.88-8.26,4.45-10.74c2.53-2.44,6.21-4.11,10.66-4.11,1.88,0,4.07,.39,6.85,1.58v7.62c-1.46-1.54-3.64-3.04-6.68-3.04-2.4,0-4.32,.77-5.82,2.23-1.58,1.54-2.7,3.85-2.7,6.59,0,2.95,1.2,5.05,2.48,6.29,.6,.6,2.65,2.4,6.16,2.4,1.71,0,4.02-.47,6.55-2.95v7.58Z"
      ></path>
      <path
        class="cls-2"
        d="M245.41,58.45h-21.83l8.56-9.33c1.5-1.67,3.77-4.45,4.67-5.82,.64-1.03,1.71-2.87,1.71-4.84,0-1.07-.43-2.18-1.11-2.82-.56-.51-1.5-.81-2.61-.81-1.24,0-2.05,.43-2.61,1.03-.77,.86-1.2,2.4-1.2,3.51h-6.59c.21-2.48,1.2-5.31,2.95-7.15,1.37-1.46,3.81-2.95,7.88-2.95s6.38,1.71,7.4,2.7c1.54,1.54,2.65,3.9,2.65,6.85,0,2.53-.77,4.37-2.14,6.29-1.24,1.71-2.74,3.17-4.58,4.92l-3,2.87h9.84v5.56Z"
      ></path>
      <path
        class="cls-2"
        d="M268.7,56.14c-1.67,1.63-4.15,2.95-7.66,2.95s-5.86-1.28-7.58-2.95c-2.78-2.74-4.11-7.06-4.11-11.94s1.33-9.29,4.11-11.98c1.71-1.67,4.15-2.95,7.58-2.95s5.99,1.33,7.66,2.95c2.78,2.7,4.11,7.06,4.11,11.98s-1.33,9.2-4.11,11.94Zm-10.27-20.16c-2.1,2.05-2.4,6.16-2.4,8.17,0,2.23,.38,6.25,2.4,8.22,.77,.73,1.54,1.07,2.65,1.07s1.88-.34,2.65-1.07c2.01-1.97,2.4-5.99,2.4-8.22,0-2.01-.3-6.12-2.4-8.17-.77-.73-1.54-1.07-2.65-1.07s-1.88,.34-2.65,1.07Z"
      ></path>
      <path
        class="cls-2"
        d="M296.31,58.45h-21.83l8.56-9.33c1.5-1.67,3.77-4.45,4.67-5.82,.64-1.03,1.71-2.87,1.71-4.84,0-1.07-.43-2.18-1.11-2.82-.56-.51-1.5-.81-2.61-.81-1.24,0-2.05,.43-2.61,1.03-.77,.86-1.2,2.4-1.2,3.51h-6.59c.21-2.48,1.2-5.31,2.95-7.15,1.37-1.46,3.81-2.95,7.88-2.95s6.38,1.71,7.4,2.7c1.54,1.54,2.65,3.9,2.65,6.85,0,2.53-.77,4.37-2.14,6.29-1.24,1.71-2.74,3.17-4.58,4.92l-3,2.87h9.84v5.56Z"
      ></path>
      <path
        class="cls-2"
        d="M301.07,38.46c.26-2.4,1.33-4.92,2.83-6.46,2.1-2.18,4.88-2.7,7.23-2.7,3.51,0,6.04,1.07,7.49,2.53,1.2,1.16,2.18,3.04,2.18,5.82,0,1.41-.26,2.65-1.16,3.89-.6,.86-1.33,1.41-2.14,1.8,1.2,.43,2.48,1.24,3.25,2.31,.86,1.16,1.33,2.95,1.33,4.49,0,2.18-.86,4.67-2.87,6.51-2.44,2.23-5.22,2.48-7.53,2.48-2.78,0-5.82-.43-8.35-2.95-1.63-1.67-2.87-4.19-3.17-7.06h6.59c.09,1.11,.6,2.44,1.37,3.21,.68,.68,1.8,1.16,3.17,1.16,1.11,0,2.18-.34,2.87-.98,.68-.64,1.16-1.75,1.16-2.91s-.56-2.18-1.24-2.74c-1.03-.81-2.53-.9-3.51-.9h-.51v-4.54h.39c.38,0,1.93-.04,2.87-.81,.6-.51,1.07-1.41,1.07-2.57,0-.98-.39-1.8-.94-2.31-.51-.47-1.37-.86-2.44-.86s-2.01,.38-2.57,.94c-.6,.64-.98,1.75-1.03,2.65h-6.33Z"
      ></path>
    </g>
    <g>
      <path
        class="cls-2"
        d="M155.08,85.56h-7.66l-2.5,4.33h-3.01l11.27-18.98,6.16,18.98h-2.9l-1.34-4.33Zm-.78-2.58l-1.94-6.08-3.5,6.08h5.43Z"
      ></path>
      <path
        class="cls-2"
        d="M165.14,78.57l-1.4,11.32h-2.63l1.4-11.32h2.63Zm-1.91-5.81c.32-.32,.81-.57,1.37-.57,.46,0,.83,.16,1.08,.4,.24,.24,.43,.59,.43,1.02s-.19,.99-.54,1.37c-.32,.35-.86,.59-1.42,.59-.51,0-.83-.19-1.05-.4-.24-.21-.43-.59-.43-1.02,0-.51,.19-1.02,.56-1.4Z"
      ></path>
      <path
        class="cls-2"
        d="M168.48,78.57h2.63l-.13,1.02c.35-.43,.7-.67,1.13-.89,.67-.32,1.26-.43,1.94-.43,1.37,0,2.21,.48,2.69,.97,.59,.59,1.02,1.5,1.02,2.69,0,.43-.05,.91-.24,2.39l-.7,5.57h-2.63l.73-5.83c.13-1,.13-1.4,.13-1.51,0-.46-.08-1.05-.51-1.45-.35-.32-.86-.46-1.34-.46-.94,0-1.48,.4-1.69,.62-.7,.67-.94,1.83-1.1,3.17l-.67,5.46h-2.63l1.4-11.32Z"
      ></path>
      <path class="cls-2" d="M186.95,82.79h6.45l-.32,2.74h-6.45l.32-2.74Z"
      ></path>
      <path
        class="cls-2"
        d="M207.22,71.96c1.99,0,3.58,.3,4.68,1.4,.86,.89,1.13,1.91,1.13,3.04,0,.67-.08,1.53-.51,2.34-.24,.46-.73,1.1-1.59,1.56,1.16,.4,1.77,1.16,1.96,1.4,.62,.81,.78,1.64,.78,2.47,0,1.91-.7,3.17-1.42,3.92-1.61,1.69-4.03,1.8-5.75,1.8h-4.19l2.21-17.93h2.72Zm-1.86,15.35h1.67c1.02,0,2.29-.11,3.15-.91,.48-.46,.83-1.21,.83-2.07s-.4-1.42-.81-1.75c-.7-.57-1.67-.65-2.47-.65h-1.72l-.65,5.38Zm.94-7.64h.83c1.29,0,2.02-.38,2.42-.73,.51-.46,.89-1.26,.89-2.18,0-.75-.29-1.26-.59-1.56-.59-.59-1.56-.67-2.18-.67h-.75l-.62,5.13Z"
      ></path>
      <path
        class="cls-2"
        d="M220.02,78.57l-.73,5.89c-.08,.59-.13,.97-.13,1.32,0,.81,.27,1.29,.54,1.56,.35,.35,.94,.54,1.48,.54,.59,0,1.26-.24,1.64-.59,.59-.56,.7-1.45,.81-2.23l.81-6.48h2.63l-.81,6.56c-.13,1.16-.35,2.77-1.53,3.9-.62,.59-1.75,1.21-3.58,1.21-1.69,0-2.9-.51-3.6-1.24-.67-.7-1.05-1.69-1.05-2.74,0-.38,.05-.83,.13-1.53l.75-6.16h2.63Z"
      ></path>
      <path
        class="cls-2"
        d="M238.66,78.57h2.63l-1.37,11.02c-.16,1.37-.46,3.5-1.67,4.84-.7,.78-2.1,1.64-4.36,1.64-1.13,0-2.34-.24-3.33-1.08-1.21-1.02-1.67-2.61-1.72-3.84h2.55c.03,.62,.27,1.42,.73,1.91,.56,.56,1.32,.64,1.91,.64s1.45-.11,2.12-.78c.73-.73,.94-1.83,1.08-2.85l.19-1.45c-.99,1.42-2.45,1.61-3.28,1.61-1.21,0-2.5-.38-3.58-1.45-.94-.94-1.56-2.23-1.56-4.03s.7-3.63,2.02-4.92c1.16-1.13,2.39-1.56,4.14-1.56,.75,0,2.2,.08,3.33,1.53l.16-1.24Zm-5.83,3.07c-.7,.73-1.08,1.94-1.08,2.98,0,1.13,.43,1.91,.83,2.34,.48,.51,1.21,.91,2.07,.91,.81,0,1.59-.27,2.29-.97,.59-.59,1.21-1.59,1.21-3.15,0-.78-.19-1.64-.86-2.31-.43-.43-1.08-.81-1.96-.81-1.02,0-1.94,.4-2.5,1Z"
      ></path>
      <path
        class="cls-2"
        d="M253.77,87.31c-.56,.94-1.34,1.67-2.1,2.12-.65,.38-1.67,.81-3.17,.81-1.4,0-2.61-.38-3.63-1.42-.89-.89-1.53-2.26-1.53-4.03,0-1.94,.73-3.63,1.96-4.84,1.1-1.08,2.45-1.67,4.14-1.67,1.05,0,2.37,.22,3.41,1.32,.86,.89,1.4,2.31,1.4,3.95,0,.35-.03,.81-.13,1.32h-8.09c0,.81,.3,1.72,.83,2.29,.35,.38,.97,.73,1.85,.73,.62,0,1.29-.19,1.8-.51,.46-.3,.91-.81,1.18-1.29l2.07,1.24Zm-2.07-4.6c-.08-.56-.35-1.21-.67-1.56-.38-.4-1-.62-1.64-.62s-1.34,.21-1.91,.67c-.46,.38-.83,.97-1.05,1.51h5.27Z"
      ></path>
      <path
        class="cls-2"
        d="M260.17,87.79l-3.9-9.22h3.12l2.55,6.37,3.95-6.37h3.01l-11.16,17.48h-2.96l5.38-8.25Z"
      ></path>
    </g>
  </g>
</svg>

<script>
  const petals = document.getElementById("petals");
  const mkg = document.getElementById("mkg");

  let showMKG = false;

  petals.addEventListener("mousedown", () => {
    showMKG = true;
    setTimeout(() => {
      if (showMKG) {
        mkg.setAttribute("href", mkg.dataset.href);
        mkg.style.display = "block";
        petals.style.display = "none";
      }
    }, 10000);
  });

  document.body.addEventListener("dragend", () => {
    showMKG = false;
  });

  petals.addEventListener("mouseup", () => {
    showMKG = false;
  });
</script>

<style>
  svg {
    display: block;
    height: 4rem;
  }

  @media only screen and (max-width: 480px) {
    svg {
      height: 3.5rem;
    }

    .mkg {
      height: 4rem;
    }
  }
</style>
