---
import CourseCards from "@src/components/CourseCards.astro";
import CoursesNavbar from "@src/components/CoursesNavbar.astro";
import Base from "./Base.astro";

const { cardsDir, url, translatedUrl, title, locale = "fr" } = Astro.props;
const isIndexPage = cardsDir.startsWith("@src/content/index");
---

<Base title={title} locale={locale} translatedUrl={translatedUrl}>
  <CoursesNavbar activeURL={url} locale={locale} />

  <CourseCards cardsDir={`${cardsDir}/${locale}`} />

  {
    isIndexPage && (
      <>
        <div class="powr-social-feed container" id="2ab91678_1673381716" />

        <script
          id="facebook-script"
          is:inline
          data-src="https://www.powr.io/powr.js?platform=html"
        />

        <script is:inline>
          const facebookScript = document.currentScript.previousElementSibling;
          const facebookDiv = facebookScript.previousElementSibling;

          const observer = new IntersectionObserver(
            (entries) => {
              if (entries[0].isIntersecting && facebookScript.src === "") {
                facebookScript.src = facebookScript.dataset.src;
              }
            },
            {
              root: null,
              rootMargin: "0px",
              threshold: 0,
            }
          );

          observer.observe(facebookDiv);
        </script>
      </>
    )
  }
</Base>

