---
import Base from "./Base.astro";

const { title, locale = "fr", translatedUrl } = Astro.props;
---

<Base title={title} locale={locale} translatedUrl={translatedUrl}>
  <main class="container">
    <slot />
  </main>
</Base>
